
#content {
    /*background-color: rgba(0, 0, 0, 0.28);*/
    min-height: 100%;
    height: 100%;
    /*margin: 0;*/
    /*padding: 0;*/
    overflow: hidden;
}

#sidebar {
    /*background-color: rgba(0, 0, 0, 0.65);*/
    min-height: 100%;
    height: 100%;
    /*margin: 0;*/
    /*padding: 0;*/
}

#sidebar-top {
    height: 20%;
}

#sidebar-main {
    height: 80%;
    min-height: 80%;
}

#sidebar-main div, #sidebar-main form {
    height: 100%;
    min-height: 100%;
}

#drill {
    background-color: rgba(162, 230, 169, 0.34);
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
}

#lambic {
    width: 100%;
}

.container,
.row {
    height: inherit;
}

#sidebar {
    height: 100%;
    min-height: 100%;
}

#content .content-header {
    height: 10%;
}

#content .content-viewport {
    height: 90%;
    overflow-y: auto;
    overflow-x: inherit;
}

#content .content-viewport > div{
    height: 100%;
    width: 96%;
}

table.card-layout {
    width: 100%;
    background: #fff;
    border: 1px solid #dce1e9;
    border-bottom: 0;
    border-spacing: 0;
    empty-cells: show;
}

table.card-layout th,
table.card-layout td {
    border: 1px solid #aaaeb4;
}

div.tooltip > div.tooltip-inner{
    border: none;
    max-height: none;
    max-width: none;
    padding: 0;
}

#plaintext {
    resize: none;
    width: 93%;
    height: 90%;
    min-height: 90%;
}
