/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
code {
  font-size: 80%;
}
#sidebar {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 2px 9px rgba(51, 51, 51, 0.2);
  -moz-box-shadow: 1px 2px 9px rgba(51, 51, 51, 0.2);
  box-shadow: 1px 2px 9px rgba(51, 51, 51, 0.2);
  z-index: 300;
  position: fixed;
  left: -180px;
  padding: 15px;
  top: 75px;
  min-height: 300px;
  padding: 10px;
  width: 240px;
  background: #efefef;
  border: 1px solid #dfdfdf;
}
#sidebar:hover,
#sidebar.focused {
  left: 0px;
  -webkit-box-shadow: 1px 2px 9px rgba(51, 51, 51, 0.3);
  -moz-box-shadow: 1px 2px 9px rgba(51, 51, 51, 0.3);
  box-shadow: 1px 2px 9px rgba(51, 51, 51, 0.3);
}
#sidebar-main {
  min-height: 80%;
}
.view-filters .view-selection {
  margin: 0 0 15px 0;
}
#plaintext {
  resize: none;
  height: 90%;
  min-height: 90%;
}
#drill {
  background-color: rgba(162, 230, 169, 0.34);
}
#content .content-header {
  height: 10%;
  min-height: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#content .content-viewport {
  height: 90%;
  overflow: visible;
}
#content .content-viewport > div {
  height: 100%;
}
div.tooltip > div.tooltip-inner {
  border: none;
  max-height: none;
  max-width: none;
  padding: 0;
}
