/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
#sidebar {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  position: fixed;
  left: -180px;
  padding-left: 10px;
  top: 60px;
  bottom: 10px;
  height: auto;
  background: #efefef;
}
#sidebar:hover {
  left: 10px;
}
#sidebar-top {
  height: 20%;
}
#sidebar-main {
  height: 80%;
  min-height: 80%;
}
#sidebar-main div,
#sidebar-main form {
  height: 100%;
  min-height: 100%;
}
#drill {
  background-color: rgba(162, 230, 169, 0.34);
}
body {
  height: 100%;
  width: 100%;
  position: absolute;
}
#lambic {
  margin-top: 55px;
}
#content .content-header {
  height: 10%;
}
#content .content-viewport {
  height: 90%;
  overflow-y: auto;
  overflow-x: inherit;
}
#content .content-viewport > div {
  height: 100%;
}
table.card-layout {
  width: 100%;
  background: #fff;
  border: 1px solid #dce1e9;
  border-bottom: 0;
  border-spacing: 0;
  empty-cells: show;
}
table.card-layout th,
table.card-layout td {
  border: 1px solid #aaaeb4;
}
div.tooltip > div.tooltip-inner {
  border: none;
  max-height: none;
  max-width: none;
  padding: 0;
}
#plaintext {
  resize: none;
  width: 93%;
  height: 90%;
  min-height: 90%;
}
