<div class="content-header row well well-sm">
        <div class="col-lg-3">
            <div class="input-append input-group">
                <input name="quickadd" ng-model="quickadd" type="text" class="form-control" typeahead="card.name for card in cards.get() | filter:{name: $viewValue} | limitTo:10"
                       typeahead-template-url="partials/typeahead_template.html" placeholder='Card name...'>
                <span class='input-group-btn'>
                    <button class="btn btn-primary quickadd-btn" type="submit" ng-click="add(quickadd)">Add</button>
                </span>
            </div>
        </div>

        <div class="btn-group pull-right">
            <button id="importBtn" class="btn btn-default" ng-click="importDialog()">Import</button>
            <button id="exportBtn"  class="btn btn-default" ng-click="exportDialog()">Export</button>
        </div>
</div>