<div class="content-header">
    <div class="row">
        <div class="span6">
            <div class="input-append">
            <input name="quickadd" ng-model="quickadd" type="text"
                   typeahead="name for name in cards.select('name') | filter:$viewValue | limitTo:10">
            <button class="btn quickadd-btn" type="submit" ng-click="add(quickadd)">Add</button>
        </div>
        </div>
        <div class="span2 offset2">
            <button id="importBtn" class="btn pull-right" ng-click="importDialog()">Import</button>
            <button id="exportBtn"  class="btn pull-right" ng-click="exportDialog()">Export</button>
        </div>
    </div>
</div>