<div class="content-header">
    <div class="row">
        <div class="span2">
            <button class="btn" ng-click="showQuickAdd = !showQuickAdd">Quick Add</button>
        </div>
        <div class="span2 offset6">
            <button id="importBtn" class="btn pull-right" ng-click="importDialog()">Import</button>
            <button id="exportBtn"  class="btn pull-right" ng-click="exportDialog()">Export</button>
        </div>
    </div>
    <div class="row" collapse="!showQuickAdd">
        <div class="well well-large quickAdd span10">
            <div class="input-append">
                <input name="quickadd" ng-model="quickadd" type="text"
                       typeahead="card.name for card in cards | filter:{name: $viewValue} | limitTo:2">
                <button class="btn" type="submit" ng-click="add(quickadd)">Add</button>
            </div>

        </div>
    </div>
</div>