<div id="sidebar" class="">
    <div id="sidebar-top">
        <div id="hierarchy">
            <h2>Hierarchy</h2>
        </div>
    </div>
    <div id="sidebar-main">
        <div>
            <form role='form'>
                <div class='form-group'>
                    <label for="plaintext">Create Card Pool</label>
                    <textarea rows='20' id="plaintext" class='form-control' ng-model="plaintext"></textarea>
                    <span>
                        <button type="submit" class="btn btn-primary pull-right" ng-click="makePool()">Make Pool</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
