<div id="sidebar" class="">
        <div id="sidebar-top">
            <div id="hierarchy">
                <h3>Hierarchy</h3>
            </div>
        </div>
        <div id="sidebar-main">
            <h3>Pool</h3>
            <form role='form'>
                <div class='form-group'>
                    <textarea rows='30' id="plaintext" class='form-control' ng-model="plaintext"></textarea>
                    <button type="submit" class="btn btn-block btn-large btn-primary " ng-click="makePool()">Make Pool</button>
                </div>
            </form>
        </div>
</div>